{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{% block content %}
<div class="contact">
  <div id="contact">
      <h2>CONTACT</h2>
      <P>For any inquiries you can reach us through our social media platforms: </P>
          Instagram:@food chap-chap kenya<br>
          Facebook:food chap-chap kenya<br>
          Twitter:food chap-chap#kenya<br>
          Email:foodchapchap@gmail.com<br>
          <p>FOR ANY COMMENTS REACH US THROUGH THIS FORM<br>
              YOU CAN ALSO FILL OUT THE FORM BELOW TO GET HELP.
          </p>
      <h4>YOU CAN ALSO REACH US WITH THE FOLLOWING TELEPHONE NUMBERS<br>
          +254729429104<br>
          +254746100100
      </h4>
  </div>
</div>
<style>
  body {
    background-image: url(../static/hotel1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-style: italic;
    text-align: center;
    font-family: 'Langar', cursive;
    font-family: 'Russo One', sans-serif;
    text-align: center;
  }
  h2 {
    padding-top: 1.5cm;
    color: blue;
  }
</style>
{% endblock %}