{% extends 'base.html' %}
{% import 'macros.html' as macro%}
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">

{% endblock %}
{% block content%}
<div class="container-fluid">
    <div class="row">
        <h2 style="color: red;text-align: center; padding-top: 50px;  font-weight: 900;">WELCOME TO FOOD CHAP-CHAP</h2>
        {% if current_user.is_anonymous%}
        {%endif%}
        </ul>
    </div>
 
{% endblock %}
