{% extends 'base.html' %}

{% block content%}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Langar&family=Russo+One&display=swap" rel="stylesheet">


<div class="container">
    <div class="firstpage">
        <div class="logo">
        </div>
        
        <h1>DELICIOUS RECIPES</h1>
        <p>The main problem with this great obsession for saving time is very simple: you can't save time. You can only
            spend it. But you can spend it wisely or foolishly.
            <br>That is why FOOD CHAP-CHAP is created to help you save time and save on long queing time.
        </p>

    </div>

    {% for quote in getquotes %}
    {%endfor%}
</div>
</div>
</section>

<div class="row mt-4 ">
<div class="col-lg-9 col-md-8 col-sm-12 ">
<div class="articles row ">
    {%if articles%} {%for article in articles%}
    <div class="col-lg-4 col-md-6 col-sm-12 mx-auto mt-1 mb-1 ">
        <div class="card ">
            <div class="view overlay ">
                <img style="height: 30vh;width: 100%; " class="pt-2 pl-2 pr-2 rounded img-fluid " src="{{url_for( 'static',filename=article.article_cover_path)}} " alt="Card image cap ">
                <a href="#! ">
                    <div class="mask rgba-white-slight "></div>
                </a>
            </div>
            <div class="card-body pt-1 mt-0 ">
                <div class="text-center ">
                    <a href="# " class="badge badge-default ">{{article.user.username}}</a>
                    <a href="{{url_for( 'main.article_by_tag',tag=article.article_tag)}} " class="badge badge-info ">{{article.article_tag}}</a>
                </div>
                <div class="text-center mb-1 ">
                    <a href="{{url_for( 'main.article_details',article_id=article.id)}} "><span class="badge badge-success ml-2 "> <i class="far fa-thumbs-up ">{{article.article_upvotes}}</i></span></a>
                    <a href="{{url_for( 'main.article_details',article_id=article.id)}} "><span class="badge badge-danger ml-2 "> <i class="far fa-thumbs-down ">{{article.article_downvotes}}</i></span></a>
                    <a href="{{url_for( 'main.article_details',article_id=article.id)}} "><span class="badge badge-info ml-2 "> <i class="far fa-comment ">{{article.article_comments_count}} </i></span></a>
                    <p class="mb-0 mt-3 "><i class="far fa-calendar mr-2 "></i>{{article.posted.strftime("%b %d %Y %H:%M ")}}</p>
                </div>
                <h6 class="card-title ">{{article.article_title}}</h6>
                <p class="card-text ">{{article.article_body|truncate(30)}}</p>
            </div>
            <div class="card-footer text-muted text-center ">
                <a href="{{url_for( 'main.article_details',article_id=article.id)}} " class="black-text ">
                    <h6>Read More <i class="fas fa-angle-double-right "></i></h6>
                </a>
            </div>

        </div>
    </div>
    {%endfor%} {%else%}
    <div class="card article mx-4 mb-3 ">
        <div class="card-body ">
            <h4 class="card-header " style="color: blue;"><i class="far fa-angry mr-2" ></i>Sorry, no Meals ordered yet!!</h4>
        </div>
    </div>
    {%endif%}
</div>
</div>



<h5 class="my-2 " style="color: blue;"><strong>Popular Meals</strong> </h5>
{%for article in popular%}
<div class="card card-image mb-2 ">

    <div class="text-white text-center rgba-black-strong py-3 px-2 ">
        <div>
            <h5 class="pink-text "><i class="fas fa-chart-pie "></i> {{article.article_title}}</h5>
            <p>{{article.article_body|truncate(30)}}</p>
            <a class="btn btn-pink " href="{{url_for( 'main.article_details',article_id=article.id)}} "><i class="fas fa-clone left "></i> Read more ...</a>
        </div>
    </div>

</div>
{%endfor%}


</div>
</div>

    <style>
        body{
            background-image: url(../static/hotel1.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        h1 {
            color:blue;
            font-size: 2cm;
            font-style: italic;
            text-align: center;
            padding-top: 2cm;
            font-weight: 900;
            font-family: 'Langar', cursive;
            font-family: 'Russo One', sans-serif;
            font-stretch:wider;
        }

        p {
            color:white;
            font-style: italic;
            text-align: center;
            padding-top: 1cm;
            font-family: 'Langar', cursive;
            font-family: 'Russo One', sans-serif;
            font-size:20px;

        }
    </style>

    {% endblock %}