<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Langar&family=Russo+One&display=swap" rel="stylesheet">



<div class="navbar" role="navigation" style="font-family:'Langar', cursive;
font-family: 'Russo One', sans-serif;">
    <nav class="navbar navbar-dark bg-dark">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="../static/logo.jpeg" alt="logo" height="60px" width="60px">
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li style="margin-left: 30px; font-size: 25px;color: blue; "><a href="/">HOME</a></li>
                <li style="margin-left: 30px; font-size: 25px;color: blue; "><a href="{{url_for('main.about')}}">ABOUT</a></li>
                <li style="margin-left: 30px; font-size: 25px;color: blue; "><a href="">MENU</a></li>
                <li style="margin-left: 30px; font-size: 25px;color: blue; "><a href="">ORDER</a></li>
                <li style="margin-left: 30px; font-size: 25px;color: blue; "><a href="">CONTACTS</a></li>

            </ul>


            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}

                <li style=" font-size:30px;"><a style="color: blue;"
                        href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a></li>
                <li style="  font-size: 30px;"><a style="color: blue;" href="{{url_for('auth.logout')}}">Sign out</a>
                </li>
                {% else %}
                <li style="font-size: 30px;"><a style="color:blue;" href="{{url_for('auth.login')}}">Sign in</a></li>
                {%endif%}
            </ul>
        </div>

</div>
</div>
<style>
    nav {
        background-color: white;
        font-style: italic;
        font-stretch: ultra-expanded;
    }
</style>